body {
  margin: 0;
  font-family: "Signika", sans-serif;
  -webkit-font-smoothing: antialiased;
  /*-moz-osx-font-smoothing: grayscale;*/
  overflow-x: hidden; 
  background-color: #807C5E; 
}


/* Nav Bar */
.navbar {
  background-color: #e4cbcb;
  color: #faf3eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); 
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 160px;
  height: auto;
}

.navbar-links {
  display: flex;
  align-items: center;
  font-weight: lighter;
}

.navbar-link {
  margin-right: 40px;
  text-decoration: none;
  color: #694736;
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid transparent;
}

.navbar-link:hover {
  border-bottom-color: #694736;
}

.navbar-links button {
  margin-right: 40px;
  text-decoration: none;
  color: #694736;
  position: relative;
  padding: 15px 0px;
  border: none;
  background: #e4cbcb;
  border-bottom: 1px solid transparent;
  font-family: "Signika", sans-serif;
  font-weight: lighter;
  font-size: 16px;
}

.navbar-links button:hover {
  border-bottom-color: #694736;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 10px; 
  }

  .navbar-logo {
    margin-left: 10px; 
  }

  .navbar-link {
    margin-right: 10px; 
    padding: 8px 0; 
    font-size: 12px; 
  }

  .logo-image {
    width: 90px; 
  }

  .navbar-signup,
  form button{
    padding: 8px 20px;
    font-size: 12px; 
  }
}


/* Hero Section */
.hero-content {
  background-image: url('./assets/landing-page2.png');
  background-size: cover;
  background-position: center;
  height: 600px;
  color: #FAF3EB;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Mobile styling for Hero Content */
@media (max-width: 768px) {
  .hero-content {
    height: 200px; 
  }
}

/* Section 1 */
.section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  background-color: #807C5E;
  color: #faf3eb;
  box-shadow: 0px -2px 2px rgba(43, 43, 43, 0.2);
}

/* Left Column (Image) */
.section1 .left-column {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/landing-page3.jpeg");
  background-size: cover;
  height: 500px;
}

/* Right Column (Text) */
.section1 .right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;   
  margin: 0 auto;
  text-align: left;
}

.section1 .right-column p {
  font-size: 21px;
  margin-bottom: 20px;
  font-weight: lighter;
  line-height: 1.5;
}

.section1 .right-column .subscribe-link {
  font-size: 18px;
  padding: 8px 30px;
  margin-top: 40px;
  background-color: #faf3eb;
  text-decoration: none;
  color: #694736;
  font-weight: lighter;
  border-radius: 5px;
}

.section1 .right-column .subscribe-link:hover {
  background-color: #807C5E;
  outline: 1px solid #faf3eb;
  color: #faf3eb;
}

/* Mobile styling for Section 1 */
@media (max-width: 768px) {
  .section1 {
    grid-template-columns: 1fr; 
  }

  .section1 .left-column {
    height: 200px; 
  }

  .section1 .right-column {
    text-align: center;
  }
}

/* Section2  */
.section2-container {
  background-color: #e4cbcb;
  padding: 20px 10px;
  text-align: center;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.2);
}

.section2-container img {
  height: 100px; 
}

.section2-container h2{
  color: #694736;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: lighter;
  text-align: left; 
  font-weight: lighter;
}

.homepage-tiles-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.homepage-tile {
  width: calc(33.33% - 50px);
  margin: 20px;
  text-align: left;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 20px;
  background-color: #e4cbcb; 
}

.homepage-tile img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.homepage-tile p {
  color: #694736;
  font-size: 18px;
  line-height: 1.5;
  font-weight: lighter;
}


/* Section 3 */
.section3 {
  background-color: #e4cbcb;
  padding: 80px 10px;
  text-align: center;
}

.section3 .slick-slider {
  width: 80%;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.carousel-image {
  padding: 20px;
  transition: transform 0.3s ease-in-out; 
}

.carousel-image:hover {
  transform: scale(1.05); 
}

.carousel-image img {
  max-width: 100%; 
  height: auto;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5); 
  padding: 15px; 
  border-radius: 50%; 
  font-size: 24px; 
  color: #694736; 
  z-index: 1; 
  position: absolute;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}


/* section 4 */
.section4 {
  width: 100%; 
  height: auto; 
  background-color: #faf3eb;
  color: #694736;
  text-decoration: none;
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2); 
  text-align: center;
}

.section4 img {
  width: 160px;
  height: auto;
}

/* form pages */
.formPage {
  background-color: #faf3eb;
  color: #694736;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 80px;
  font-family: "Signika", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.formPage h3{
  font-size: 27px;
  margin-bottom: 10px;
  font-weight: lighter;
  border-bottom: 1px solid #ccc;
}

.formPage input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: "Signika", sans-serif;
  font-size: 17px;
  font-weight: lighter;
  color: #694736;
}

.formPage textarea.message-input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  height: 150px;
  font-family: "Signika", sans-serif;
  font-size: 17px;
  font-weight: lighter;
}

.formPage button {
  padding: 13px 55px;
  margin:10PX;
  background-color: #fff;
  text-decoration: none;
  font-size:15px;
  color: #694736;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formPage button:hover {
  background-color: #faf3eb;
  outline: 1px solid #faf3eb;
  color: #694736;
}

/* user profile */
.profileContainer {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr; 
  align-items: flex-start; 
  background: #faf3eb;
  padding: 2rem;
  gap: 1rem; 
}

/* Left side user info */
.profile-left {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.6; 
}

.profileContainer h3 {
  font-size: 26px;
  color: #694736;
  text-align: center;
  font-family: 'Signika', sans-serif;
  max-width: 700px;
  font-weight: lighter;
}

.profileContainer p {
  font-family: 'Signika', sans-serif;
  max-width: 700px;
  margin: 0 auto;
  color: #694736;
}

.userInformation {
  margin-bottom: 10px;  
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
}

.userInformation .profile-image {
  max-width: 160px;
  max-height: 160px;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.profile-left button {
  padding: 10px 40px; 
  background-color: #fff;
  text-decoration: none;
  font-size:16px;
  color: #694736;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Signika', sans-serif;
  font-weight:lighter;
  margin-bottom: 20px;
}

.profile-left :hover {
  background-color: #faf3eb;
  outline: 1px solid #faf3eb;
  color: #694736;
}

.profileGroups,
.profileLessons {
  text-decoration: none;
  color: #694736;
  width: 70%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ccc;
  font-size: 18px;
  font-weight: lighter;  
  padding: 10px;
  text-align: left;
}

.lesson-card {
  border-bottom: 1px solid #ccc;
}

.profileLessons {
  border-bottom: 1px solid #ccc;
}

.yourGroupsTitle, .yourLessonsTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.user-group-list {
  font-size: 18px;
  font-weight: lighter;  
  text-decoration: none;
  list-style-type: none; 
}

.user-group-title {
  padding: 10px; 
  background-color: #fff;
  text-decoration: none;
  font-size:16px;
  color: #694736;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Signika', sans-serif;
  font-weight:lighter;
  text-align: center;
}

/* Right side */
.profilerightSide button {
  color: #694736;
}

.message-preview-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 15px 5px;
  border-radius: 5px;
  color: #694736;
  font-weight: lighter;
  background-color: #fff;
}

.message-link {
  text-decoration: none;
  color: #694736;
}

.message-title {
  font-weight: bold;
  margin-top: 18px;
  font-size: 18px;
}

.message-content {
  margin-top: 5px;
}

.message-preview-container:hover {
  outline: 2px solid #a09d81;
}



.profileMessageTabs {
  display: flex;
  justify-content: space-between;
  margin: 80px 80px;
  overflow: hidden;
  border: 1px solid #ccc; 
  border-radius: 10px;
}

.profileMessageTabs button {
  flex: 1;
  padding: 16px 18px; 
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 15px; 
}

.profileMessageTabs button:not(:last-child) {
  border-right: 1px solid #ccc; 
}

.profileMessageTabs button.active {
  background-color: #a09d81;
  color: #fff;
}

.message-item {
  border: 1px solid #ccc; 
  padding: 10px 14px;
  margin: 15px 10px; 
  border-radius: 5px; 
  color: #694736; 
  font-weight: lighter;
  background-color: #fff;
}

.message-label {
  font-weight: bold;

}

.message-container {
  margin-top: 10px;
}

.message-item:hover {
  outline: 1px solid #a09d81; 
}







/* Mobile styling */
@media (max-width: 768px) {
  .profileContainer {
    grid-template-columns: 1fr;
  }
  
  .userInformation{
    border-right: none;
    border-bottom: 1px solid #ddd;
  }

  .userInformation, .profilerightSide {
    width: 100%; 
  }

  .profileContainer p {
    font-size: 14px;
    max-width: 90%;
  }

  .profileMessageTabs button {
    font-size: 10px;
  }

  .profileMessageTabs {
    padding: 1rem;
    margin: 2rem auto;
  }

  .profileMessageTabs button {
    width: 100%;
  }
}

/* classes page */
.classes-list-container {
  text-align: center;
  background-color: #807C5E; 
  height: 100%;
  padding-bottom: 100px;
}

.classes-header {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.searchbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #807C5E;
}

.searchbar {
  width: 60%;
  margin-bottom: 30px;
}

.tileContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.tile {
  width: calc(22.33% - 50px);
  background-color: #FAF3EB;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  border-radius: 10px;
  margin:25px;
  position: relative;
    background-size: cover;
  background-position: center;
}

.tile h5 {
  font-size: 22px;
  padding: 15px;
  font-weight: lighter;
}

.tile-image {
  width: 100%;
  max-width: 100%;
  height: 0;
  padding-bottom: 100%; 
  overflow: hidden; 
  position: relative;
}

.tile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  position: absolute;
  top: 0;
  left: 0;
}


/* groups info */
.information-container{
  background-color: #faf3eb;  
  margin-top: 50px;
}

.information-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: 400px;
}

.information-header-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  text-align: center;
}

.header-left-title p {
  font-size: 50px;
  color: #694736;
  font-weight: bold;
  margin-bottom: 10px;
}

.header-left-text p {
  font-size: 22px;
  font-weight: lighter;
  color: #694736;
  line-height: 1.5;
}


.information-header-right {
  overflow: hidden;
  position: relative; 
  max-height: 100%; 
}

.information-header-right img {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  position: absolute; 
}

.information-body {
  background-color: #807C5E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding: 60px;
  text-align: center;
  font-size: 22px;
  font-weight: lighter;
  color: #694736;
  line-height: 2;
}

.information-bubble{
  width: 50%;
  background-color: #faf3eb;
  border-radius: 5px; 
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}


.info-page-buttons {
  background-color: #807C5E;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.join-or-message-buttons {
  width: 20%;
  background-color: #faf3eb;
  color: #694736;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  padding: 15px 40px;
  text-align: center;
}

.join-or-message-buttons:hover {
  background-color: #694736;
  color: #faf3eb;
}

.info-page-buttons .join-or-message-buttons {
  display: inline-block;
  margin-right: 10px; 
  margin-bottom: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}